[Unit]
Description=Gitea Server
After=network-online.target

[Container]
Image=docker.gitea.com/gitea:1.25.4-rootless
PublishPort=3001:3000
PublishPort=2222:2222
Memory=512m
Volume=/var/gitea-data/:/var/lib/gitea:Z
Volume=/var/gitea-config/:/etc/gitea:Z
Volume=/etc/localtime:/etc/localtime:Z

[Service]
Restart=always
RestartSec=5s

[Install]
# Start by default on boot
WantedBy=multi-user.target