[Unit]
Description=Apply bootc updates
Documentation=man:bootc(8)
After=network-online.target
ConditionPathExists=/run/ostree-booted
ConditionACPower=true

[Service]
Type=oneshot
ExecStart=/usr/bin/bootc upgrade --quiet
